.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
}
.container > a > img {
    width: 80px;
    height: auto;
}
.nav-list > ul{
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
}
.nav-list > ul > li {
    list-style: none;
    margin: 0px 10px;
}
.card{
    height: 400px;
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;;
}
.card > img {
    width: 100%;
}
.card > p {
    overflow-wrap: break-word;
}
.restaurant-list {
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 10px;;
    background-color: rgb(150, 150, 150);
}
.menu-card{
    border: 1px solid grey;
    display: flex;
    padding: 10px;
    margin: 0 auto;
    width: 60%;
}
.menu-card-img > img{
    border-radius: 20px;
    width: 400px;
    padding: 10px;
}
.menuCard{
    display: flex;
    justify-content: space-between;
    margin: 20 auto;
    width: 800px;
    padding: 20px;
    align-items: center;
    background-color: #ebeee6;
    border-radius: 25px;
}
.menuCard > div > img {
    border-radius: 25px;
    padding: 20px;
    width: 230px;
    height: auto;
}
